html{
    font-family: 'Indie Flower', cursive;
}

div.form{
    margin: 0 auto;
}
h1{
    text-align:center;
    color:#c01934;
    margin-bottom: 50px;
    font-size: 45px;
}
form{
    text-align:center;
}
.input{
    border: solid #c01934 3px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
}
.input:focus{
    outline: none !important;
}
.button{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color:#c01934;
    border: solid #c01934 3px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 25px;
    width: 120px;
    cursor: pointer;
    margin-top: 20px;
}
.button:hover{
    border: solid rgb(0, 0, 0) 3px;

}
label.remember-me-label{
    font-size: 20px;
}