
div.headerTop{
    background-color: #c01934;
    height: 60px;
    border-radius: 30px;
}
div.headerBottom{
    background-color: rgb(255, 255, 255);
    height: 60px;

}
h1{
    display: inline-block;
    font-size: 36px;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-top: 24px;
    font-weight: bold;
}
h2{
    display: inline-block;
    font-size: 36px;
    color: #c01934;
    padding-left: 20px;
    padding-top: 2px;
    font-weight: bold;
}
a.buttonHome{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    color: #c01934;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 13px;
    text-align: center;
    position: absolute;
    right: 0;
    margin-right: 20px
}

a.buttonDelete{
    text-decoration: none;
    display: inline-block;
    padding: 5px 17px;
    color: rgb(255, 255, 255);
    background-color: #c01934;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 13px;
    text-align: center;
    position: absolute;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
}
a.buttonDelete:hover, a.buttonHome:hover {
    border: solid 3px rgb(0, 0, 0);
}
h3.adminPanelTittle{
    display: block;
    font-size: 45px;
    font-weight: bold;
    color: #c01934;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 14px;

}
.action{
   border: solid 3px #c01934;
   border-radius: 20px;
   margin: 10px;
   height: 400px;
}
.action p{
    font-weight: bold;
    text-align: center;
    margin: 10px;
    font-size: 30px;
}
.action input{
    display: block;
    margin: 0 auto;
    border: solid #c01934 3px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
}
.action input.pictureSelection{
    display: block;
    margin: 0 auto;
    border: solid #c01934 3px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: #c01934;
    color: rgb(255, 255, 255);
}
.cropper-crop{
    display: none;
}
.cropper-bg{
    background-color: rgb(255, 255, 255);
}
.action input:focus{
    outline: none !important;
}
.action input.submit{
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color:#c01934;
    border: solid #c01934 3px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 25px;
    width: 120px;
    cursor: pointer;
}
.action input.submit:hover{
    border: solid rgb(0, 0, 0) 3px;

}
a.showActiveOrdersButton, a.readyOrderButton{
    display: block;
    margin: 0 auto;
    text-decoration: none;
    padding: 5px 17px;
    color: rgb(255, 255, 255);
    background-color: #c01934;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    width: 350px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;
}
a.showActiveOrdersButton:hover, a.readyOrderButton:hover {
    border: solid 3px rgb(0, 0, 0);
    cursor: pointer;
}
div.footer{
    background-color: #c01934;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 10px;
}
p.logo{
    padding: 20px;
    font-size: 30px;
}

li.time, li.phoneNumber, li.email{
    list-style-type: none;
    padding-left: 25px;
    font-size: 15px;
    padding-bottom: 20px;
    font-family: sans-serif;
}
ul.contacts{
    padding: 20px;
    padding-top: 24px;
    font-size: 21px;
    padding-bottom: 20px;
    font-family: sans-serif;
}